{% extends 'base.html' %}
{% block title %}
    我的网站|个人资料
{% endblock %}
{% block nav_home_active %}active{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
            {% if user.is_authenticated %}
                <h2>{{ user.username }}</h2>
                <ul>
                    <li>昵称：{{ user.get_nickname }} </li>
                    <li>邮箱: {% if user.email %}{{ user.email }}{% else %}未绑定<a href="#">绑定邮箱</a>{% endif %}</li>
                    <li>年级:{{ user.profile.grade_class }} </li>
                    <li>做题总数:{{ user.profile.question_num }} </li>
                    <li>学习时长:{{ user.display_time_diff }} </li>
                    {% if user.is_staff %}
                        <li>能量:{{ user.profile.lotteryCount }} </li>
                        <li>成就称号:{{ user.profile.achievement_title }} </li>
                    {% endif %}
                    <li>上一次登录的时间：{{ user.last_login|date:"Y-m-d H:i:s" }}</li>
                </ul>
            {% else %}
                <span>未登录，跳转到首页.....</span>
                <script type="text/javascript">
                    window.location.href = '/';
                </script>
            {% endif %}
            </div>
        </div>
    </div>
{% endblock %}