div.leftBtn {
    text-align: center;
    margin-top:7em;
}

div.rightBtn {
    text-align: center;
    margin-top:7em;
}

div.title_one {
    margin: 0 auto;
    text-align: center;
    font-size: 24px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.left_part {
    display: block;
    width: 50%;
    height: 400px;
    float: left;
}

.question_part {
    display: block;
    height: 30%;
    width: 100%;
}
#question_place {
    font-size: 42px;
    display: block;
    width: 70%;
    float: left;
    padding-top: 30px;
}
#input_area {
    font-size: 48px;
    display: block;
    height: 80px;
    width: 100px;
    line-height: 48px;
    text-align: center;
    float: right;
    margin-top: 20px;
    margin-right: 15px;
}
.tips_part {
    display: block;
    height: 67%;
    width: 100%;
    float: left;
}

.right_part {
    display: block;
    width: 50%;
    height: 400px;
    float: left;
}
.btn_extra {
     display: block;
     width: 27%;
     height: 20%;
     font-size: 36px;
     float: left;
     margin: 10px;
}
.btn_extra2 {
     display: block;
     width: 35%;
     height: 20%;
     font-size: 36px;
     float: left;
     margin: 25px;
}
.functionBtn_part {
    display: block;
    height: 30%;
    width: 70%;
    float: right;
}
#start_learn {
    display: block;
    width: 40%;
    height: 4em;
    font-size: 18px;
    float: right;
    margin-left: 30px;
}

#take_a_break {
    display: block;
    width: 40%;
    height: 4em;
    font-size: 18px;
    float: right;
}

#messageInfo1 {
    font-size: 150%;
    line-height: 30px;
}
#messageInfo2 {
    font-size: 150%;
    line-height: 50px;
}
#messageInfo {
    font-size: 150%;
    line-height: 50px;
}

*{margin:0;padding:0;list-style-type:none;}
a,img{border:0;text-decoration:none;}
body{font:14px/180% Arial, Helvetica, sans-serif, "新宋体";}

.demo{width:300px; margin:60px auto 10px auto}
@media only screen and (min-width: 420px) {
	.demo{width:500px; margin:60px auto 10px auto}
}
/*.btn {*/
/*	text-transform: uppercase;*/
/*	background: rgb(0, 100, 0); color: white;*/
/*	padding: 10px 20px; border-radius: 5px;*/
/*	cursor: pointer;margin:10px auto;width:100px;text-align:center;*/
/*}*/
/*.btn:hover {background: rgb(0, 75, 0);text-decoration:none}*/
#demo{margin:20px auto;width:120px;height:120px}
.demo p{text-align:center}
