/*body {*/
/*    background-image:url('/static/images/blue_bg.png');*/
/*    !*background-repeat:no-repeat;*!*/
/*    !*background-size:1604px 845px;*!*/
/*    !*height: 845px;*!*/
/*    !*width: 1604px;*!*/
/*    background-size:cover;*/
/*}*/

.green_fairy_go {
    background-image:url('/static/images/green_fairy_go.png');
    background-size: 300px 430px;
    height: 430px;
    width: 300px;
    position: absolute;
    left: 100px;
    bottom: 0px;
}
.green_fairy {
    background-image:url('/static/images/green_fairy.png');
    background-size: 300px 430px;
    height: 430px;
    width: 300px;
    position: absolute;
    left: 100px;
    bottom: 0px;
}

.green_bg {
    background-image:url('/static/images/green_bg.png');
    background-size:cover;
}

.red_fairy {
    background-image:url('/static/images/red_fairy.png');
    background-size: 300px 430px;
    height: 430px;
    width: 300px;
    position: absolute;
    left: 100px;
    bottom: 0px;
}
.red_bg {
    background-image:url('/static/images/red_bg.png');
    background-size:cover;
}
.timeout {
    position: absolute;
    top: 550px;
    left: 700px;
}
.yellow_fairy {
    background-image:url('/static/images/yellow_fairy.png');
    background-size: 300px 430px;
    height: 430px;
    width: 300px;
    position: absolute;
    left: 100px;
    bottom: 0px;
}
.yellow_bg {
    background-image:url('/static/images/yellow_bg.png');
    background-size:cover;
}
.purple_fairy {
    background-image:url('/static/images/purple_fairy.png');
    background-size: 300px 430px;
    height: 430px;
    width: 300px;
    position: absolute;
    left: 100px;
    bottom: 0px;
}
.purple_bg {
    background-image:url('/static/images/purple.png');
    background-size:cover;
}
#chengjiu_rukou {
    background-image:url('/static/images/chengjiu_btn.jpg');
    background-size: 120px 300px;
    height: 300px;
    width: 120px;
    position: absolute;
    right: 20px;
    bottom: 60px;
}