{% extends 'base.html' %}
{% block title %}
    我的网站|口算训练
{% endblock %}
{% block nav_math_active %}active{% endblock %}

{% load staticfiles %}
{% block hearder_extends %}
    <link rel="stylesheet" href="{% static 'math_practice.css' %}">
    {% if user.is_staff %}
        <link rel="stylesheet" href="{% static 'math_practice_v.css' %}">
    {% endif %}
    <link rel="stylesheet" href="{% static 'xcConfirm.css' %}">
    <script type="text/javascript" src="{% static 'js/jquery.pietimer.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/xcConfirm.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="row title_one">
            <span class="title">Mathematics - revision</span>
        </div>
    <div class="container">
        <div class="left_part">
            <div class="question_part">
                <span id="question_place">题目显示区域 </span>
                {% csrf_token %}
                <input type="text" id="input_area" class="input_answer" >
            </div>
            <div class="tips_part">
                <div class="panel-body">
                    <p id="messageInfo1"></p>
                    <p id="messageInfo2"></p>
                    <p id="messageInfo"></p>
                </div>
                <div class="timeout">
                    <p id="timeout"></p>
                </div>
            </div>
            <div class="functionBtn_part">
                <div>
                    <button type="button" class="btn btn-primary btn-lg" id="start_learn"> 开始学习 </button>
                    <button type="button" class="btn btn-primary btn-lg" id="take_a_break" disabled> 休息一下</button>
                </div>
            </div>
        </div>
        <div class="right_part">
            <button type="button" class="btn btn-default btn_extra" id="btn7"> 7 </button>
            <button type="button" class="btn btn-default btn_extra" id="btn8"> 8 </button>
            <button type="button" class="btn btn-default btn_extra" id="btn9"> 9 </button>
            <button type="button" class="btn btn-default btn_extra" id="btn4"> 4 </button>
            <button type="button" class="btn btn-default btn_extra" id="btn5"> 5 </button>
            <button type="button" class="btn btn-default btn_extra" id="btn6"> 6 </button>
            <button type="button" class="btn btn-default btn_extra" id="btn1"> 1 </button>
            <button type="button" class="btn btn-default btn_extra" id="btn2"> 2 </button>
            <button type="button" class="btn btn-default btn_extra" id="btn3"> 3 </button>
            <button type="button" class="btn btn-default btn_extra" id="btn0"> 0 </button>
            <button type="button" class="btn btn-default btn_extra" id="btn10"> . </button>
            <button type="button" class="btn btn-default btn_extra" id="btn11"> / </button>
            <button type="button" class="btn btn-warning btn_extra2" id="btnC"> C </button>
            <button type="button" class="btn btn-success btn_extra2" id="a_btn"> OK</button>
        </div>
    </div>
    <div class="green_fairy_go" id="fairy_position"></div>
{% endblock %}

{% block script_extends %}
    <script type="text/javascript">
     　　$.ajaxSetup({
 　　　　   data: {csrfmiddlewaretoken: '{{ csrf_token }}'}
 　　    })
        var startDate;
        var tempData_list;
        var correct_nums = 0;
        var false_nums = 0;
        var each_group_counts = 5;  //每组的题数
        var timeout_flag =0;
        var tom;
        var continuiltyCorrect =0;
        $("#start_learn").click(function(){
            startDate = new Date();
            //置空全局变量
            tempData_list = [];
            correct_nums=0;
            false_nums=0;
            timeout_flag =0;
            $("#messageInfo1").text('');
            $("#messageInfo2").text('');
            $("#messageInfo").text('');
            $("#fairy_position").removeClass();
            $.ajax({
                url: "{% url 'get_study_model' %}",
                type: 'GET',
                data: {
                    question_counts: each_group_counts,
                },
                cache: false,
                success: function (data){
                    if(data['status']=='SUCCESS'){
                        var questionAnswer = data['question_list'][0].split('=');
                        //console.log("data['question_list'][0]=" +data['question_list'][0]);
                        var t_level = questionAnswer[1].split('&')[1];
                        if(t_level =='T6' || t_level =='T7' || t_level =='T8' || t_level =='T9'){
                            $("#messageInfo1").text('Tips:除不尽请结果保留2位小数.');
                        }
                        // 设置倒计时,根据难度
                        if(t_level =='T1' || t_level =='T2' || t_level =='T3'){
                            var timeoutnum = 20;
                        }else if(t_level =='T4' || t_level =='T5' || t_level =='T6'){
                            var timeoutnum = 40;
                        }else if(t_level =='T7' || t_level =='T8' || t_level =='T9'){
                            var timeoutnum = 90;
                        }
                        $('#timeout').pietimer({
                            seconds: timeoutnum,
                            color: 'rgba(0, 0, 0, 0.8)',
                            height: 100,
                            width: 100
                        },function(){
                            //回调 超时
                            {#console.log('1111');#}
                            {#timeout_flag = 1;#}
                        });

                        tom =setTimeout("change_timout_flag()", timeoutnum*1000);

                        $('#timeout').pietimer('start');
                        // 分离出所属题目的难度，根据难度生成所需时间，并开始计时
                        $("#question_place").text(questionAnswer[0]+' =');
                        tempData_list = data['question_list'];
                    }else{
                        alert(data['message']);
                    }
                    //console.log(data)
                },
                error: function (xhr){
                    console.log(xhr)
                }
            });

            $("#start_learn").attr('disabled', 'disabled');
            document.getElementById('input_area').focus();
        });
        $("#take_a_break").click(function(){
            var endDate = new Date();
            $("#start_learn").removeAttr('disabled');
            $("#take_a_break").attr('disabled', 'disabled');
            $("#fairy_position").removeClass();
            $("body").removeClass();
            var total_learning_time = diffTime(startDate, endDate);
            var correct_percent = correct_nums/each_group_counts*100;
            $("#messageInfo1").text('你的正确率是:'+correct_percent+'%');
            $('#timeout').pietimer({
                seconds: 0,
                color: 'rgba(0, 0, 0, 0.8)',
                height: 0,
                width: 0
            },function(){
            });
            $.ajax({
                url: "{% url 'update_lottery_count' %}",
                type: 'GET',
                data: {
                    correct_rates: correct_percent,
                    total_learning_time:endDate.getTime() - startDate.getTime() //时间差的毫秒数
                },
                cache: false,
                success: function (data){
                    if(data['status']=='SUCCESS'){
                        var score = data['grades']
                        $("#messageInfo2").text(score);
                        if (data['tips']!=''){
                            txt = '恭喜你获得成就：'+data['tips']
                            window.wxc.xcConfirm(txt, window.wxc.xcConfirm.typeEnum.info);
                        }
                    }else{
                        console.log('有问题1')
                    }
                    console.log(data)
                },
                error: function (xhr){
                    console.log(xhr)
                }
            });
            $("#messageInfo").text(total_learning_time);
        });
        $("#a_btn").click(function(){
            $("#fairy_position").removeClass();
            $("body").removeClass();
            $("#messageInfo1").text('');
            $("#messageInfo2").text('');
            clearTimeout(tom);
            var input_answer = document.getElementsByClassName('input_answer')[0].value;
            document.getElementById('input_area').focus();
            var correct_answer_withmark = tempData_list[0].split('=')[1];
            var correct_answer = correct_answer_withmark.split('&')[0];
            var question_mark = correct_answer_withmark.split('&')[1];
            console.log('correct_answer='+correct_answer,'input_answer='+input_answer)
            //将数组的第一个元素删除，重新覆盖掉tempData_list
            tempData_list.shift();
            $.ajax({
                url: "{% url 'math_practice_main' %}",
                type: 'POST',
                data: {
                    input_answer: input_answer,
                    correct_answer:correct_answer,
                    question_mark:question_mark,
                    tempData:tempData_list,
                },
                cache: false,
                success: function (context){
                    if(context['status']=='RIGHT'){
                        //$("#messageInfo1").text('Correct!');
                        correct_nums +=1;
                        continuiltyCorrect +=1;
                        if (continuiltyCorrect >= 5){
                            $("#fairy_position").addClass("purple_fairy");
                            $("body").addClass("purple_bg");
                        }else{
                             if (timeout_flag == 0){
                                $("#fairy_position").addClass("green_fairy");
                                $("body").addClass("green_bg");
                            }else{
                                $("#fairy_position").addClass("yellow_fairy");
                                $("body").addClass("yellow_bg");
                                timeout_flag =0;
                            }
                        }
                    }else{
                        //$("#messageInfo1").text('Sorry,wrong answer.');
                        $("#messageInfo2").text('Correct answer is:'+context['rightAnswer']);
                        $("#fairy_position").addClass("red_fairy");
                        $("body").addClass("red_bg");
                        false_nums +=1;
                        continuiltyCorrect =0;
                    }
                    if (tempData_list == ''){
                        $("#question_place").text('');
                        $("#messageInfo1").text('');
                        $("#messageInfo2").text('');
                        window.wxc.xcConfirm('你这组已经学完，休息一下吧。', window.wxc.xcConfirm.typeEnum.info);
                        $("#take_a_break").removeAttr('disabled');
                        $('#timeout').pietimer({
                            seconds: 0,
                            color: 'rgba(0, 0, 0, 0.8)',
                            height: 0,
                            width: 0
                        },function(){
                        });
                    }else{
                        console.log('tempData_list='+tempData_list)
                        var questionAnswer = tempData_list[0].split('=');
                        var t_level = questionAnswer[1].split('&')[1];
                        if(t_level =='T6' || t_level =='T7' || t_level =='T8' || t_level =='T9'){
                            $("#messageInfo1").text('Tips:除不尽请结果保留2位小数.');
                        }
                        $("#question_place").text(questionAnswer[0] + '=');

                        // 设置倒计时,根据难度
                        if(t_level =='T1' || t_level =='T2' || t_level =='T3'){
                            var timeoutnum = 20;
                        }else if(t_level =='T4' || t_level =='T5' || t_level =='T6'){
                            var timeoutnum = 40;
                        }else if(t_level =='T7' || t_level =='T8' || t_level =='T9'){
                            var timeoutnum = 90;
                        }
                        $('#timeout').pietimer({
                            seconds: timeoutnum,
                            color: 'rgba(0, 0, 0, 0.8)',
                            height: 100,
                            width: 100
                        },function(){
                            //回调 超时
                            {#console.log('111');#}
                            {#timeout_flag = 1;#}
                            {#return false;#}
                        });
                        $('#timeout').pietimer('start');
                        tom =setTimeout("change_timout_flag()", timeoutnum*1000);
                        // tempData_list = context['question_list'];
                    }
                    $("#input_area").val('');
                    //console.log(context)
                    return false;
                },
                error: function (xhr){
                    console.log(xhr)
                    return false;
                }
            });
        });
        $("#btn7").click(function (){
            var input_box =document.getElementById('input_area');
            input_box.value = input_box.value +'7';
        });
        $("#btn8").click(function (){
            var input_box =document.getElementById('input_area');
            input_box.value = input_box.value +'8';
        });
        $("#btn9").click(function (){
            var input_box =document.getElementById('input_area');
            input_box.value = input_box.value +'9';
        });
        $("#btn4").click(function (){
            var input_box =document.getElementById('input_area');
            input_box.value = input_box.value +'4';
        });
        $("#btn5").click(function (){
            var input_box =document.getElementById('input_area');
            input_box.value = input_box.value +'5';
        });
        $("#btn6").click(function (){
            var input_box =document.getElementById('input_area');
            input_box.value = input_box.value +'6';
        });
        $("#btn1").click(function (){
            var input_box =document.getElementById('input_area');
            input_box.value = input_box.value +'1';
        });
        $("#btn2").click(function (){
            var input_box =document.getElementById('input_area');
            input_box.value = input_box.value +'2';
        });
        $("#btn3").click(function (){
            var input_box =document.getElementById('input_area');
            input_box.value = input_box.value +'3';
        });
        $("#btn0").click(function (){
            var input_box =document.getElementById('input_area');
            input_box.value = input_box.value +'0';
        });
        $("#btn10").click(function (){
            var input_box =document.getElementById('input_area');
            input_box.value = input_box.value +'.';
        });
        $("#btn11").click(function (){
            var input_box =document.getElementById('input_area');
            input_box.value = input_box.value +'/';
        });
        $("#btnC").click(function (){
            var input_box =document.getElementById('input_area');
            input_box.value = input_box.value.substr(0, input_box.value.length - 1);
        });

        function change_timout_flag(){
            timeout_flag = 1;
            return false;
        }
        function diffTime(startDate,endDate) {
            var diff=endDate.getTime() - startDate;//.getTime();//时间差的毫秒数

            //计算出相差天数
            var days=Math.floor(diff/(24*3600*1000));

            //计算出小时数
            var leave1=diff%(24*3600*1000);    //计算天数后剩余的毫秒数
            var hours=Math.floor(leave1/(3600*1000));
            //计算相差分钟数
            var leave2=leave1%(3600*1000);        //计算小时数后剩余的毫秒数
            var minutes=Math.floor(leave2/(60*1000));

            //计算相差秒数
            var leave3=leave2%(60*1000);      //计算分钟数后剩余的毫秒数
            var seconds=Math.round(leave3/1000);

            var returnStr = '你本次共学习了：';
            if(days>0) {
                returnStr = returnStr + days + "天" ;
            }
            if(hours>0) {
                returnStr = returnStr + hours + "小时";
            }
            if(minutes>0) {
                returnStr = returnStr + minutes + "分钟";
            }
            returnStr = returnStr + seconds + "秒";
            return returnStr;
        }

    </script>
{% endblock %}